In [2]:
import pymongo

In [3]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017")
mydb = client['Students']
information = mydb.studentInformation
record = {
    'firstName':'Chris',
    'lastName':'Evans',
    'department':'CS',
    'age':40,
    'qualification':'BE'
            }
information.insert_one(record)

In [8]:
information.find({'firstName':'Chris'})

In [15]:
records = [
    {
        'firstName':'Joe',
        'lastName':'Tribiani',
        'department':'EE',
        'age':42,
        'qualification':'BE'
    },
    {
        'firstName':'Marshall',
        'lastName':'Erikson',
        'department':'ME',
        'age':42,
        'qualification':'BE'
    }
]

In [16]:
information.insert_many(records)

In [9]:
import pandas as pd

In [10]:
df = pd.read_json('iris.json')

In [13]:
df.head()

   petalLength  petalWidth  sepalLength  sepalWidth species
0          1.4         0.2          5.1         3.5  setosa
1          1.4         0.2          4.9         3.0  setosa
2          1.3         0.2          4.7         3.2  setosa
3          1.5         0.2          4.6         3.1  setosa
4          1.4         0.2          5.0         3.6  setosa

In [17]:
information.delete_one({'firstName':'Joe'})

In [18]:
information.find_one({'firstName':'Joe'})

{'_id': ObjectId('5f7d511ba4e70b7d748f12af'),
 'age': 42,
 'department': 'EE',
 'firstName': 'Joe',
 'lastName': 'Tribiani',
 'qualification': 'BE'}

In [19]:
information.find({'age':42})

In [22]:
information.find_one({'age':42,'firstName':'Marshall'})

{'_id': ObjectId('5f7d511ba4e70b7d748f12b0'),
 'age': 42,
 'department': 'ME',
 'firstName': 'Marshall',
 'lastName': 'Erikson',
 'qualification': 'BE'}

In [23]:
information.find_one()

{'_id': ObjectId('5f7d4d32a4e70b7d748f12ac'),
 'age': 40,
 'department': 'CS',
 'firstName': 'Chris',
 'lastName': 'Evans',
 'qualification': 'BE'}

In [28]:
for record in information.find({}):
    print(record)

{'_id': ObjectId('5f7d4d32a4e70b7d748f12ac'), 'department': 'CS', 'qualification': 'BE', 'firstName': 'Chris', 'lastName': 'Evans', 'age': 40}
{'_id': ObjectId('5f7d511ba4e70b7d748f12af'), 'department': 'EE', 'qualification': 'BE', 'firstName': 'Joe', 'lastName': 'Tribiani', 'age': 42}
{'_id': ObjectId('5f7d511ba4e70b7d748f12b0'), 'department': 'ME', 'qualification': 'BE', 'firstName': 'Marshall', 'lastName': 'Erikson', 'age': 42}

In [29]:
for record in information.find({'age':42}):
    print(record)

{'_id': ObjectId('5f7d511ba4e70b7d748f12af'), 'department': 'EE', 'qualification': 'BE', 'firstName': 'Joe', 'lastName': 'Tribiani', 'age': 42}
{'_id': ObjectId('5f7d511ba4e70b7d748f12b0'), 'department': 'ME', 'qualification': 'BE', 'firstName': 'Marshall', 'lastName': 'Erikson', 'age': 42}

In [30]:
information.find_one({'age':42})

{'_id': ObjectId('5f7d511ba4e70b7d748f12af'),
 'age': 42,
 'department': 'EE',
 'firstName': 'Joe',
 'lastName': 'Tribiani',
 'qualification': 'BE'}

In [31]:
#query documents using query operators($in,$lt,$gt)

In [33]:
for record in information.find({'department':{'$in':['CS','ME']}}):
    print(record)

{'_id': ObjectId('5f7d4d32a4e70b7d748f12ac'), 'department': 'CS', 'qualification': 'BE', 'firstName': 'Chris', 'lastName': 'Evans', 'age': 40}
{'_id': ObjectId('5f7d511ba4e70b7d748f12b0'), 'department': 'ME', 'qualification': 'BE', 'firstName': 'Marshall', 'lastName': 'Erikson', 'age': 42}

In [42]:
for record in information.find({'qualification':'BE','age':{'$lt':42}}):
    print(record)

{'_id': ObjectId('5f7d4d32a4e70b7d748f12ac'), 'department': 'CS', 'qualification': 'BE', 'firstName': 'Chris', 'lastName': 'Evans', 'age': 40}

In [44]:
for record in information.find({'age':{'$gt':40}}):
    print(record)

{'_id': ObjectId('5f7d511ba4e70b7d748f12af'), 'department': 'EE', 'qualification': 'BE', 'firstName': 'Joe', 'lastName': 'Tribiani', 'age': 42}
{'_id': ObjectId('5f7d511ba4e70b7d748f12b0'), 'department': 'ME', 'qualification': 'BE', 'firstName': 'Marshall', 'lastName': 'Erikson', 'age': 42}

In [47]:
for record in information.find({'$or':[{'firstName':'Joe'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('5f7d4d32a4e70b7d748f12ac'), 'department': 'CS', 'qualification': 'BE', 'firstName': 'Chris', 'lastName': 'Evans', 'age': 40}
{'_id': ObjectId('5f7d511ba4e70b7d748f12af'), 'department': 'EE', 'qualification': 'BE', 'firstName': 'Joe', 'lastName': 'Tribiani', 'age': 42}
{'_id': ObjectId('5f7d511ba4e70b7d748f12b0'), 'department': 'ME', 'qualification': 'BE', 'firstName': 'Marshall', 'lastName': 'Erikson', 'age': 42}

In [48]:
inventory = mydb.inventory

In [49]:
inventory.insert_many([
  {"sepalLength": 5.1, "sepalWidth": 3.5, "petalLength": 1.4, "petalWidth": 0.2, "species": "setosa"},
  {"sepalLength": 4.9, "sepalWidth": 3.0, "petalLength": 1.4, "petalWidth": 0.2, "species": "setosa"},
  {"sepalLength": 4.7, "sepalWidth": 3.2, "petalLength": 1.3, "petalWidth": 0.2, "species": "setosa"},
  {"sepalLength": 4.6, "sepalWidth": 3.1, "petalLength": 1.5, "petalWidth": 0.2, "species": "setosa"},
  {"sepalLength": 5.0, "sepalWidth": 3.6, "petalLength": 1.4, "petalWidth": 0.2, "species": "setosa"},
  {"sepalLength": 5.4, "sepalWidth": 3.9, "petalLength": 1.7, "petalWidth": 0.4, "species": "setosa"},
  {"sepalLength": 4.6, "sepalWidth": 3.4, "petalLength": 1.4, "petalWidth": 0.3, "species": "setosa"},
  {"sepalLength": 5.0, "sepalWidth": 3.4, "petalLength": 1.5, "petalWidth": 0.2, "species": "setosa"},
  {"sepalLength": 4.4, "sepalWidth": 2.9, "petalLength": 1.4, "petalWidth": 0.2, "species": "setosa"}])

In [50]:
for record in inventory.find():
    print(record)

{'_id': ObjectId('5f7d5728a4e70b7d748f12b1'), 'petalWidth': 0.2, 'petalLength': 1.4, 'species': 'setosa', 'sepalWidth': 3.5, 'sepalLength': 5.1}
{'_id': ObjectId('5f7d5728a4e70b7d748f12b2'), 'petalWidth': 0.2, 'petalLength': 1.4, 'species': 'setosa', 'sepalWidth': 3.0, 'sepalLength': 4.9}
{'_id': ObjectId('5f7d5728a4e70b7d748f12b3'), 'petalWidth': 0.2, 'petalLength': 1.3, 'species': 'setosa', 'sepalWidth': 3.2, 'sepalLength': 4.7}
{'_id': ObjectId('5f7d5728a4e70b7d748f12b4'), 'petalWidth': 0.2, 'petalLength': 1.5, 'species': 'setosa', 'sepalWidth': 3.1, 'sepalLength': 4.6}
{'_id': ObjectId('5f7d5728a4e70b7d748f12b5'), 'petalWidth': 0.2, 'petalLength': 1.4, 'species': 'setosa', 'sepalWidth': 3.6, 'sepalLength': 5.0}
{'_id': ObjectId('5f7d5728a4e70b7d748f12b6'), 'petalWidth': 0.4, 'petalLength': 1.7, 'species': 'setosa', 'sepalWidth': 3.9, 'sepalLength': 5.4}
{'_id': ObjectId('5f7d5728a4e70b7d748f12b7'), 'petalWidth': 0.3, 'petalLength': 1.4, 'species': 'setosa', 'sepalWidth': 3.4, 'sepalLength': 4.6}
{'_id': ObjectId('5f7d5728a4e70b7d748f12b8'), 'petalWidth': 0.2, 'petalLength': 1.5, 'species': 'setosa', 'sepalWidth': 3.4, 'sepalLength': 5.0}
{'_id': ObjectId('5f7d5728a4e70b7d748f12b9'), 'petalWidth': 0.2, 'petalLength': 1.4, 'species': 'setosa', 'sepalWidth': 2.9, 'sepalLength': 4.4}

In [51]:
inventory.delete_many({})

In [52]:
inventory.insert_many(
[
    {'item':'journal','qty':25,'size':{'h':14,'w':21,'uom':'cm'}},
    {'item':'notebook','qty':50,'size':{'h':8.5,'w':11,'uom':'in'}},
    {'item':'paper','qty':100,'size':{'h':8.5,'w':11,'uom':'in'}},
    {'item':'planner','qty':75,'size':{'h':22.85,'w':30,'uom':'cm'}},
    {'item':'postcard','qty':45,'size':{'h':10,'w':15.25,'uom':'cm'}}
    ]
)

In [53]:
for record in inventory.find():
    print(record)

{'_id': ObjectId('5f7d5877a4e70b7d748f12ba'), 'size': {'w': 21, 'h': 14, 'uom': 'cm'}, 'qty': 25, 'item': 'journal'}
{'_id': ObjectId('5f7d5877a4e70b7d748f12bb'), 'size': {'w': 11, 'h': 8.5, 'uom': 'in'}, 'qty': 50, 'item': 'notebook'}
{'_id': ObjectId('5f7d5877a4e70b7d748f12bc'), 'size': {'w': 11, 'h': 8.5, 'uom': 'in'}, 'qty': 100, 'item': 'paper'}
{'_id': ObjectId('5f7d5877a4e70b7d748f12bd'), 'size': {'w': 30, 'h': 22.85, 'uom': 'cm'}, 'qty': 75, 'item': 'planner'}
{'_id': ObjectId('5f7d5877a4e70b7d748f12be'), 'size': {'w': 15.25, 'h': 10, 'uom': 'cm'}, 'qty': 45, 'item': 'postcard'}

In [54]:
for record in inventory.find({'size':{'h':14,'w':21,'uom':'cm'}}):
    print(record)

{'_id': ObjectId('5f7d5877a4e70b7d748f12ba'), 'size': {'w': 21, 'h': 14, 'uom': 'cm'}, 'qty': 25, 'item': 'journal'}

In [55]:
inventory.update_one(
{'item':'paper'},
{'$set':{'size.uom':'m','qty':30}}
)

In [56]:
inventory.find_one({'item':'paper'})

{'_id': ObjectId('5f7d5877a4e70b7d748f12bc'),
 'item': 'paper',
 'qty': 30,
 'size': {'h': 8.5, 'uom': 'm', 'w': 11}}

In [57]:
inventory.update_one(
{'item':'postcard'},
{'$set':{'size.uom':'m','qty':30},
'$currentDate':{'lastmodified':True}}
)

In [58]:
inventory.find_one({'item':'postcard'})

{'_id': ObjectId('5f7d5877a4e70b7d748f12be'),
 'item': 'postcard',
 'lastmodified': datetime.datetime(2020, 10, 7, 6, 11, 40, 805000),
 'qty': 30,
 'size': {'h': 10, 'uom': 'm', 'w': 15.25}}

In [61]:
inventory.update_many(
{'size.uom':'cm'},
{'$set':{'size.uom':'in'},
'$currentDate':{'lastModified':True}}
)

In [62]:
for record in inventory.find():
    print(record)

{'_id': ObjectId('5f7d5877a4e70b7d748f12ba'), 'size': {'w': 21, 'h': 14, 'uom': 'in'}, 'qty': 25, 'lastModified': datetime.datetime(2020, 10, 7, 6, 17, 9, 639000), 'item': 'journal'}
{'_id': ObjectId('5f7d5877a4e70b7d748f12bb'), 'size': {'w': 11, 'h': 8.5, 'uom': 'in'}, 'qty': 50, 'item': 'notebook'}
{'_id': ObjectId('5f7d5877a4e70b7d748f12bc'), 'size': {'w': 11, 'h': 8.5, 'uom': 'm'}, 'qty': 30, 'item': 'paper'}
{'_id': ObjectId('5f7d5877a4e70b7d748f12bd'), 'size': {'w': 30, 'h': 22.85, 'uom': 'in'}, 'qty': 75, 'lastModified': datetime.datetime(2020, 10, 7, 6, 17, 9, 639000), 'item': 'planner'}
{'_id': ObjectId('5f7d5877a4e70b7d748f12be'), 'size': {'w': 15.25, 'h': 10, 'uom': 'm'}, 'qty': 30, 'lastmodified': datetime.datetime(2020, 10, 7, 6, 11, 40, 805000), 'item': 'postcard'}

In [63]:
inventory.replace_one(
{'item':'paper'},
    {'item':'paper',
    'instock':[{'warehouse':'A','qty':80},
              {'warehouse':'B','qty':50}]}
)

In [64]:
employee = mydb.employeeInformation

In [65]:
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}]

In [66]:
employee.insert_many(data)

In [67]:
for record in employee.find():
    print(record)

{'_id': ObjectId('5f7d6567a4e70b7d748f12bf'), 'user': 'Krish', 'subject': 'Database', 'score': 80}
{'_id': ObjectId('5f7d6567a4e70b7d748f12c0'), 'user': 'Amit', 'subject': 'JavaScript', 'score': 90}
{'_id': ObjectId('5f7d6567a4e70b7d748f12c1'), 'user': 'Amit', 'score': 85, 'title': 'Database'}
{'_id': ObjectId('5f7d6567a4e70b7d748f12c2'), 'user': 'Krish', 'score': 75, 'title': 'JavaScript'}
{'_id': ObjectId('5f7d6567a4e70b7d748f12c3'), 'user': 'Amit', 'score': 60, 'title': 'Data Science'}
{'_id': ObjectId('5f7d6567a4e70b7d748f12c4'), 'user': 'Krish', 'score': 95, 'title': 'Data Science'}

In [68]:
#find amit and krish total subjects

In [76]:
agg_result = employee.aggregate(
[{
            "$group":
            {
                "_id" : "$user",
                "Total Records" : {"$sum":1}
            }}
    ])
for i in agg_result:
    print(i)

{'_id': 'Amit', 'Total Records': 3}
{'_id': 'Krish', 'Total Records': 3}

In [82]:
agg_result = employee.aggregate(
[
        {
            '$group':
            {
                '_id':'$user',
                'total score':{'$sum':'$score'}
            }
        }
    ]
)
for i in agg_result:
    print(i)

{'_id': 'Krish', 'total score': 250}
{'_id': 'Amit', 'total score': 235}

In [83]:
agg_result = employee.aggregate(
[
        {
            '$group':
            {
                '_id':'$user',
                'averageScore':{'$avg':'$score'}
            }
        }
    ])
for i in agg_result:
    print(i)

{'_id': 'Krish', 'averageScore': 83.33333333333333}
{'_id': 'Amit', 'averageScore': 78.33333333333333}

In [84]:
import datetime

In [85]:
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [86]:
mycollection = mydb.stores

In [87]:
mycollection.insert_many(data)

In [89]:
for record in mycollection.find():
    print(record)

{'_id': 1, 'item': 'abc', 'price': 10, 'quantity': 2, 'date': datetime.datetime(2020, 10, 7, 7, 16, 43, 468000)}
{'_id': 2, 'item': 'jkl', 'price': 20, 'quantity': 1, 'date': datetime.datetime(2020, 10, 7, 7, 16, 43, 468000)}
{'_id': 3, 'item': 'xyz', 'price': 5, 'quantity': 5, 'date': datetime.datetime(2020, 10, 7, 7, 16, 43, 468000)}
{'_id': 4, 'item': 'abc', 'price': 10, 'quantity': 10, 'date': datetime.datetime(2020, 10, 7, 7, 16, 43, 468000)}
{'_id': 5, 'item': 'xyz', 'price': 5, 'quantity': 10, 'date': datetime.datetime(2020, 10, 7, 7, 16, 43, 468000)}

In [91]:
# calculating the average quantity and average price
agg_result = mycollection.aggregate(
[
        {
            '$group':
            {'_id':'$item',
            'avgAmount':{'$avg':{'$multiply':['$price','$quantity']}},
             'avgQuantity':{'$avg':'$quantity'}
            }
        }
    ]
)
for i in agg_result:
    print(i)

{'_id': 'abc', 'avgQuantity': 6.0, 'avgAmount': 60.0}
{'_id': 'xyz', 'avgQuantity': 7.5, 'avgAmount': 37.5}
{'_id': 'jkl', 'avgQuantity': 1.0, 'avgAmount': 20.0}

In [94]:
data = [{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

books = mydb.books
books.insert_many(data)

In [95]:
for i in books.find():
    print(i)

{'_id': 1, 'author': {'last': 'zzz', 'first': 'aaa'}, 'isbn': '0001122223334', 'copies': 5, 'title': 'abc123'}
{'_id': 2, 'author': {'last': 'xyz', 'first': 'abc', 'middle': ''}, 'isbn': '9999999999999', 'copies': 2, 'title': 'Baked Goods'}

In [97]:
#  $project
for row in books.aggregate([{'$project':{'title':1,'isbn':1}}]):
    print(row)

{'_id': 1, 'isbn': '0001122223334', 'title': 'abc123'}
{'_id': 2, 'isbn': '9999999999999', 'title': 'Baked Goods'}