In [1]:
import mysql.connector as sql

In [30]:
connection = sql.connect(
    host='localhost',
    user='root',
    password='12345',
    database='mydatabase'
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000015FA3E6940>

In [6]:
cursor = connection.cursor()

cursor.execute("CREATE DATABASE mydatabase")

In [14]:
cursor.execute("SHOW DATABASES")

In [15]:
for x in cursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [12]:
cursor.execute("DROP DATABASE demo")

In [26]:
cursor.execute("USE mydatabase")

In [32]:
cursor.execute("create table studentinfo (id int,name varchar(100),subject varchar(100))")

In [41]:
cursor.execute("insert into studentinfo (id,name,subject) values(101,'xyz','Math')")

In [56]:
cursor.execute('select * from studentinfo')

In [55]:
for i in cursor:
    print(i)

(102, 'abc', 'Math')
(103, 'pqr', 'History')

In [46]:
cursor.execute('delete from studentinfo where id=101')

In [42]:
cursor.execute("insert into studentinfo (id,name,subject) values(102,'abc','Science')")

In [43]:
cursor.execute("insert into studentinfo (id,name,subject) values(103,'pqr','History')")

In [51]:
cursor.execute("update studentinfo set subject='Math' where id=102")

In [57]:
cursor.fetchall()

[(102, 'abc', 'Math'), (103, 'pqr', 'History')]

In [65]:
# query = "insert into studentinfo (id,name,subject) values(%d,%s,%s)"
# values = [
#     (103,'John','Geography'),
#     (104,'Marshall','History'),
#     (105,'Joe','Hindi')
# ]
# cursor.executemany(query,values)

In [66]:
cursor.execute('select subject from studentinfo')

In [67]:
cursor.fetchall()

[('Math',), ('History',)]

In [76]:
# cursor.executemany("insert into studentinfo (id,name,subject) values (104,'John','Geography'),(105,'Marshall','History'),(106,'Joe','Hindi')")